# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment & IDE
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
.DS_Store

# PyTorch Checkpoints & Logs
checkpoints/
logs/
results/
test_results/
scratch/
result.txt

# Jupyter Notebook Checkpoints
.ipynb_checkpoints
